.section {
  border-radius: 40px;
  background: #f4f4f9;
}

.imgWrapper {
  /* height: 498px;
  width: 281px;
  position: absolute;
  top: -46px; */
  height: 540px;
  width: 281px;
  position: absolute;
  top: -50px;
}

@media screen and (max-width: 1400px) {
  .imgWrapper {
    position: relative;
    top: 0px;
    height: 540px;
  }
}

@media screen and (max-width: 1200px) {
  .imgWrapper {
    position: relative;
    top: 39px;
    height: 516px;
  }
}
