.input {
  border-radius: 8px;
  border: 1px solid #e7e9ed;
  background: #fff;
  outline: none;
  width: 100%;
  max-width: 330px;
  height: 49px;
  flex-shrink: 0;
  color: #404040;
  letter-spacing: -0.2px;
}

.linksContainer {
}

.linksContainer a:hover {
  color: var(--color-primary) !important;
}
.sendButton {
  position: absolute;
  top: 0px;
  right: 12px;
}
