.tableWrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 10px;
  background-color: var(--background-primary);
}

.table {
  display: flex;
  flex-direction: column;
  min-width: 600px;
  gap: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.row {
  display: flex;
  justify-content: space-between;
  padding: 1.75rem 1.19rem;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}

.cell {
  flex: 1;
  text-align: left;
}

.cell:not(:last-child) {
  margin-right: 10px;
}

.tableWrapper::-webkit-scrollbar {
  height: 8px;
}

.tableWrapper::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 4px;
}

.tableWrapper::-webkit-scrollbar-track {
  background-color: var(--background-secondary);
}
